#loginDiv {
	padding: 10px;
	position: relative;
	float: right;
	margin-right: 35px;
}

#searchDiv {
	margin-top: 50px;
	width: 100%;
	text-align: center;
}

#searchDiv input[type=text] {
	width: 70%;
	font-size: 130%;
}

#introDiv {
	color: white;
	font-size: 175%;
	margin-top: 130px;
}

.InvalidRegField {
	background: rgba(255, 44, 44, 0.7);
	color: white;
}

.Error {
	font-size: 110%;
	color: rgba(255, 44, 44, 0.6);
	font-weight: bold;
	display: none;
}

.Highlight {
	font-size: 110%;
	color: rgba(39, 255, 44, 0.8);
	font-weight: bold;
	display: none;
}